<h1>my tasks</h1>

<table cellspacing="0">
  <tr>
    <th>Project</th>
    <th>Notice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notices.each do |notice| %>
  <tr>
    <td><%= notice.project_id %></td>
    <td><%= notice.note %></td>
    <td><%= link_to 'Show', notice %></td>
    <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
    <td><%= link_to 'Destroy', notice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

