<div class="shared">
	<p>shared width:</p>
	<%= image_tag("share_1.png", :title => "shared", :alt => "shared") %>
</div>

<div class="notice_des">
	<p>task <%= @notice.id %>:</p>
	<table cellspacing="0" cellpadding="0" class="notice_des">
		<tr class="name">
			<td><%= @notice.note %></td>
			<td rowspan="2" class="actions">
				<ul>
					<li><%= link_to "edit", edit_notice_path(@notice) %></li>
					<li><%= link_to "look at notes", notices_path %></li>
					<li><%= link_to "split task", notices_path %></li>
					<li><%= link_to "done", edit_notice_path(@notice) %></li>
					<li><%= link_to "delete", notice, confirm: 'Are you sure?', method: :delete %></li>
				</ul>
			</td>
		</tr>
		<tr class="desc">
			<td>description of task
			  <br/>
			  <%= @notice.element %>
			</td>
		</tr>
		<tr>
			<td class="comment"><%= link_to "comments", notices_path %></td>
			<td class="actions"></td>
		</tr>
	</table>
</div>

