%h2
  = t(:'view.passwords.new.forgot_password')

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification

  .inputs
    = f.input :email, :label => t(:'view.passwords.new.email'), :required => true

  .buttons
    = f.button :submit, t(:'view.passwords.new.submit')

= render :partial => "devise/shared/links"