<h1>Projekt: <%= @project.name %></h1>

<p>Url: <%= @project.url %></p>

<table cellspacing="0">
  <tr>
    <th>my tasks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @project.notices.each do |notice| %>
  <tr>
    <td><%= notice.note %></td>
    <td><%= link_to 'Show', notice %></td>
    <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
    <td><%= link_to 'Destroy', notice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>