%html
  %head
    %title BugTracker
    != stylesheet_link_tag 'application.css'
    != javascript_include_tag "application"
    != csrf_meta_tags
%body
  %header
    .container
      .logo BugTracking
      %nav
        %ul.navigation
          - if user_signed_in?
            %li.first!= link_to 'Projekte', projects_path
            %li!= link_to 'Einstellungen', edit_user_registration_path
            %li.last!= link_to 'Logout', destroy_user_session_path
          - else
            %li.first!= link_to 'Login', user_session_path
            %li.last!= link_to 'Register', new_user_registration_path

  #content
    .container
      // flash notices
      .notice
        != notice
      .alert
        != alert
      != yield
  %footer
    .container