<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="navigation"></p>
		<% if current_user %>
		<div class="current_user">
			<p><%= current_user.email %></p>
			<%= link_to "Logout", logout_path %>
		</div>
		<% end %>
		<%= link_to "Projekt erstellen", new_project_path, :class => 'button' %>
		<ul>
		<% @projects.each do |project| %>
			<li><%= link_to project.name, project %></li>
		<% end %>
		</ul>
	</div>
	<div class="content">
		<% flash.each do |key, value| %>
	  	<div class="flash <%= key %>"><%= value %></div>
	  <% end %>
		<%= yield %>
	</div>
</body>
</html>
